<app-navbar></app-navbar>



<div class="background-image"></div>

<div class="container-h-custom">
    <div class="row d-flex justify-content-center align-items-center ">
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <!-- <p class="text-left h1 mb-5"></p> -->
          <div class="register">
            <p class="h1 ">Register</p>
          </div>
          <!-- First Name -->
          <div class="form-outline mb-3">
            <input type="text" id="name" class="form-control"
              placeholder="Name"
              formControlName="name"/>
              <span style="color: red;" *ngIf="f['name'] && f['name'].invalid && f['name'].touched">* Name is not valid</span>
  
          </div>
          
          <!-- Email input -->
          <div class="form-outline mb-3">
            <input type="email" id="email" class="form-control "
              placeholder="Email address"
              formControlName="email" />
              <span style="color: red;" *ngIf="f['email'] && f['email'].invalid && f['email'].touched">* Enter Valid Email
                                                 </span>
          </div>
  
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control "
              placeholder="Password"
              formControlName="password" />
              <span style="color: red;" *ngIf="f['password'] && f['password'].invalid && f['password'].touched">* Enter Valid Password<br>
                * Min length 6 characters<br>
                * Min one special characters<br>
                * Min one Number</span>
          </div>
  
          <!--Phone number input--> 
           
          <div class="form-outline mb-3">
            <input type="tel" id="phonenumber" class="form-control" placeholder="phonenumber" formControlName="phonenumber" />
            <span style="color: red;" *ngIf="f['phonenumber'] && f['phonenumber'].invalid && f['phonenumber'].touched">* Phone Number is required</span>
          </div>
          <br>
        
  
          <div class="form-check">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c"/>
  
            <label class="form-check-label" for="form2Example3">
              I agree to all statements in <a href="about">Terms and conditions</a> <br>
  
            </label>
          </div>
  
          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="registerForm.invalid"  type="submit" class="btn btn-primary"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
              
          </div>
        </form>
  
    </div>
    </div>
  </div>


  
  
 