#page-header{
    background-image: url('.../../../../../assets/b1.jpg');
    width:100%;
    height:40vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    padding:10px;

}

#page-header h2,
#page-header p{
    color:aliceblue;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
  display:flex;
  justify-content:space-around;
  padding-top :10px;
  flex-wrap: wrap;
}
#product1 .pro{
    width:23%;
    min-width:250px;
    padding:10px 12px;
    border: 1px solid #cce7d0;
    border-radius:25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin:15px;
    transition:0.2 ease;
}


#product1 .pro img{
    width:100%;
    border-radius:20px;
}



.section-p1{
    padding:40px 80px;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
  display:flex;
  justify-content:space-around;
  padding-top :10px;
  flex-wrap: wrap;
}
#product1 .pro{
    width:23%;
    min-width:250px;
    padding:10px 12px;
    border: 1px solid #cce7d0;
    border-radius:25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin:15px;
    transition:0.2 ease;
}


#product1 .pro img{
    width:100%;
    border-radius:20px;
}