
  
  /* Main content */
  .content {
    padding:20px;
    
   
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    
   
    background-size: cover;
    background-position: center;
  
  
   
 }
 
.content table {
  
   background-color: rgb(246, 250, 253);
   width:100px;
   color: rgb(19, 18, 18);
   


}

.special{
  background-image: url('../../assets/button.png');
  background-color: transparent;
  color:#088178;
  border:0;
  padding: 14px 80px 14px 65px;
  background-repeat:no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
.content table th
{
  color:black;
}

.content table td
{
  color:black;
}


.button{
    width:20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d69c28;
    color: #fff;
    cursor: pointer;
}