
h3{
  color: #1c08fa;

}

.container
{
  padding-top: 10px;
}

img{
  width: 100px;
  height:53px;

}

.nav-link
{
  color: rgb(14, 13, 13);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: x-large;
  margin: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  padding: 0 20px;
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.2s;
}
a::after {
content: "";
position: absolute;
left: 0;

width: 0%;
height: 2px;
background-color: rgb(255, 0, 195);
transition: 0.5s linear;
}
a:hover {
color: #6c6a6a;
}
a:hover:after {
width: 100%;
}


.nav-link
{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: x-large;
  margin: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: #a0a0a0;
  text-decoration: none;
  /* padding: 0 20px; */
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.2s;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(211, 238, 156);
  transition: 0.5s linear;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover::after {
  width: 100%;
}
 

.container-fluid
{
  background-color: #031728;
  width:1400px;
  height: 70px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 8px 30px; */

}