<app-buyernavbar></app-buyernavbar>
  
<div class="welcome-bar">
    <p>Hola!, <span *ngIf="buyerDto.name">{{ buyerDto.name}}</span></p>
  </div>

  <main>
    <div class="container">
      <marquee  behavior="scroll" direction="left">        
        <h3>Free Shipping|Easy shopping|24*7 Customer support|Assured Quality
        </h3>
      </marquee>

      <section id="hero">
        <h4>Mind Blowing Offers</h4>
        <h2>Super Value Deals</h2>
        <h1>On All Products</h1>
        <button routerLink="/shop">Shop Now</button>
    </section>
    
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../../assets/f1.png">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
          <img src="assets\support-removebg-preview.png">
          <h6>Customer Support</h6>
      </div>
    </section>
    <br>
    <br>

    <div class="section-container">
    <section id="product1" class="section-p2">
        <h2>Featured Products</h2>
        <p>Affordable Summer Collections</p>
        <div class="pro-container">
            <div class="pro">
                <a routerLink="/shirt"><img src="../../assets/f1.jpg"></a>
                <div class="des">
                    <span>Trending Shirts</span>
                    <h5>Top Notch Quality</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/jean'><img src="../../assets/jean.image.jpg"></a>
                <div class="des">
                    <span>Trending Jeans</span>
                    <h5>Comfortable Wear</h5>
                </div>
            </div>
    
            <div class="pro">
                <a routerLink='/saree'><img src="../../assets/saree.webp"></a>
                <div class="des">
                    <span>Beautiful Sarees</span>
                    <h5>Top Notch Quality</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/kurthi'><img src="../../assets/kurthi1.avif"></a>
                <div class="des">
                    <span>Ethnic Kurti</span>
                    <h5>Makes you look Elegant</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/applephone'><img src="../../assets/iphone1.jpg"></a>
                <div class="des">
                    <span>Apple iPhone</span>
                    <h5>Best Choice</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/samsung'><img src="../../assets/samsungi.avif"></a>
                <div class="des">
                    <span>Samsung Smart Phone</span>
                    <h5>Best iin the Market</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/boat'><img src="../../assets/airdopes.webp"></a>
                <div class="'des">
                    <span>AIRDOPES</span>
                    <h5>BOAT AIRDOPES</h5>
                </div>
            </div>
            <div class="pro">
                <a routerLink='/noise'><img src="../../assets/noise-airdopes.webp"></a>
                <div class="'des">
                    <span>AIRDOPES</span>
                    <h5>NOISE AIRDOPES</h5>
                </div>
            </div>
        </div>
    </section>
    </div>
      
      