#header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPKwJXi7LHLuypLz_NEnBA2Vk8VQdoRStvRSq_17dKEPJcjzNA");
}


.circular-image {
    width: 150px; /* Adjust the width of the circular image */
    height: 150px; /* Adjust the height of the circular image */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; 
 
  
    
    border: 1px solid #cce7d0;
 
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin:15px;
    transition:0.2 ease;/* Hide anything outside the circular shape */
  }

.circular-image img{
    width:100%;
    border-radius:20px;
}
#header h2{
    color:#fff;
}
#navbar {
    display:flex;
    align-items:center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding :10px 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
}

#navbar li input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #085f35;
    border-radius: 5px;
}