<section id="header">
    <div>
        <div class="circular-image">
            <img routerLink='/jean'src="https://m.media-amazon.com/images/I/812Qm8RMV1L._SY879_.jpg" alt="Circular Image"> </div>
        <h2>Men's Jean</h2>
    </div>
 <div>
        <div class="circular-image">
            <img routerLink='/shirt'src="https://m.media-amazon.com/images/I/816M5cixMgL._SY879_.jpg" alt="Circular Image"></div>
        <h2>Men's Shirt</h2>
        </div>
        <div>
        <div class="circular-image">
            <img routerLink='/saree' src="https://m.media-amazon.com/images/I/71BdPww+UyL._SX679_.jpg" alt="Circular Image"></div>
        <h2>Women's Saree</h2>
    </div>
<div>
<div class="circular-image">
            <img routerLink="/kurthi"src="https://m.media-amazon.com/images/I/71BLkd39VKL._SY879_.jpg" alt="Circular Image"></div>
        <h2>Women's Kurthi</h2>
    </div>
</section>



