
<app-buyernavbar></app-buyernavbar>
<app-apparel-header></app-apparel-header>


<section id="product1" class="section-p1">
   <h4>Latest Collection!!</h4>
 <div class="pro-container">
        <div class="pro"  *ngFor="let item of data" >
            <img routerLink="/productdetail/:productId/{{item.productId}}" src="{{item.thumbnail}}" alt="image" >
            <div class="des">
                <span>{{item.name}}</span>
                <h5>₹{{item.price}}</h5>
                <button routerLink="/productdetail/{{item.productId}}" class="btn btn-sm btn-dark mt-2"><i class="fa fa-solid fa-info mr-2"></i>&nbsp;view
                    details</button><br>
                    <button class="button" (click)="addToCart(item)">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                  
            </div>
        </div>
        </div>
     </section>
