<div class="body">
<div class ="bg">
    <img class="mb-3 app-logo" src="../../assets/SHELBY_LOGO.png" alt="Angular logo"/>
    <h1>E-COMMERCE SELLER APPLICATION</h1>
  </div>
 
    <p class="lead">
     Marketplace seller application is the best platform to sell online premium and quality items quickly with zero investment. Sellers can create and manage online business with Marketplace seller platform in very less time. This platform provides the fastest way for individual entrepreneurs and small businesses to sell their products into the market.<br>
   </p>
 <br>
<br>
 
 
 
    <div class="container">
      <img src="../../assets/image.png" width="200" height="180">
      <h1><b>WELCOME TO SHELBY MARKETPLACE</b></h1>
      <p>&RightArrowBar;Your ultimate destination for all your online shopping needs. Whether you're looking for the latest fashion trends, cutting-edge electronics, or home essentials, we've got you covered.</p>
      <p>&RightArrowBar;Discover a world of possibilities as you browse through our extensive collection of products from top brands and trusted sellers. From fashion-forward apparel to innovative gadgets and everything in between, we curate the finest selection to cater to your diverse tastes and preferences.</p>
      <p>&RightArrowBar;At Shelby eCommerce, we're committed to delivering a seamless shopping experience from start to finish. Our user-friendly interface makes it easy to navigate through our categories, explore product details, and make secure purchases with confidence.</p>
      <p>&RightArrowBar;With fast and reliable shipping options, your order will be delivered straight to your doorstep in no time. Plus, our dedicated customer support team is always available to assist you with any questions or concerns you may have along the way.</p>
      <p>&RightArrowBar;Join millions of satisfied shoppers who trust Shelby eCommerce for their online shopping needs. Start browsing now and elevate your shopping experience to new heights with Shelby eCommerce.</p>
      <p class="center-text">Happy shopping!</p>
 
    </div>
</div>