/* Add this CSS to your stylesheet or component */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cdeaec;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;

  }
  .icon {
    width: 35px; 
    height: 30px; 
    margin-right: 10px; 
  }
  

  .smaller-font label {
    font-size: smaller; 
  }
  
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  span {
    display: block;
    font-size: 16px;
    color: #777;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button.btn-submit {
    background-color: #007bff;
    color: #fdfdfd;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-submit:hover {
    background-color: #159e9e;
  }
  .circular-label {
    display: inline-block;
    border-radius: 20px; /* Adjust the border-radius for circular appearance */
    border: 2px solid #007bff; /* Border color */
    padding: 10px 20px; /* Padding */
    margin-right: 10px; /* Margin */
    color: #007bff; /* Text color */
    font-size: medium;
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Text transform */
    transition: all 0.3s ease; /* Transition effect */
  }
  
  .circular-label:hover {
    background-color: #007bff; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
  

  
  /* Adjust font styles and colors as needed */
  