<header>
   
    <nav class="navbar">
      <div class="navbar-left">
        <a routerLink="/mainpage"><img src="assets\SHELBY_LOGO.png" alt="Logo" class="Logo"></a>
    
    </div>
      
      <div class="navbar-right">
        <a routerLink="/shop">SHOP</a>
       <a routerLink="/apparel">APPAREL</a>

     
       <a routerLink="/gadgets">ELECTRONICS</a>
        
        <a routerLink="/cart"><i class="bi bi-cart"></i></a>
        <a routerLink="/orderList"><i class="bi bi-clock-history"></i></a>
        <a routerLink="/buyer-dash"><i class="bi bi-person"></i></a>
        
      </div>
    </nav>
  </header>




<!-- <body>

    <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                      <a class="nav-link" aria-current="page" routerLink="/mainpage"><h5 class="brand-name">SHELBY</h5></a>
                         <h5 class="brand-name">SHELBY</h5> -->
                    <!-- </div>
                    <div class="col-md-5 my-auto">
                        <form role="search">
                            <div class="input-group">
                                <input type="search" placeholder="Search your product" class="form-control" />
                                <button class="btn bg-white" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            
                            <li class="nav-item">
                                <a class="nav-link" href="cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i> 
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="buyerdash"><i class="fa fa-user"></i> Profile</a></li>

                                <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i> My Orders</a></li>

                                
                                <li><a class="dropdown-item" href="cart"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              
      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">All Categories</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Electronics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fashions</a>
                        </li>
                        
                    
                    </ul>
                </div>
            </div>
        </nav> --> 