
.body{
    background-image:  url('../../assets/BG_for_LOGIN.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
 
  .mb-3 app-logo {
    background-image: url('../../assets/SHELBY_LOGO.png');
   
  }
   
  .bg {
    color: #d4d5de;
    text-align: center;
   
  }
  .text-center {
    text-align: center;
    padding: 50px 0; /* Add some padding for better spacing */
  }
   
  .hero {
    margin-bottom: 50px; /* Add margin to separate sections */
  }
   
  .app-logo {
    display: block; /* Make the logo centered */
    margin: 0 auto 20px; /* Center the logo and add some space below */
    max-width: 200px; /* Limit the logo's width */
  }
   
  .container {
    background-color: #eff3f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fdfafa; /* Set text color to white */
    padding: 10px; /* Add padding to the paragraphs */
    border-radius: 5px; /* Add rounded corners */
    line-height: 1.6;
    text-align: justify; /* Justify text for a cleaner appearance */
    max-width: 800px; /* Limit the maximum width of the container */
     margin: 0 auto;
     font-size: 18px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #200b7c; 
    background-image: url('../../assets/BG_for_LOGIN.jpg');
     
   
  }
   
  .container img {

    display: block; /* Center the image */
    margin: 0 auto 20px; /* Center the image and add some space below */
    max-width: 100%; /* Make sure the image doesn't exceed the container's width */
   
  }
   
  h1 {
    font-size: 24px; /* Increase the font size for headings */
    color: #200b7c; /* Set the color of headings */
    margin: 0 auto 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .lead{
    background-color: #eff3f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fdfafa; /* Set text color to white */
    padding: 10px; /* Add padding to the paragraphs */
    border-radius: 5px; /* Add rounded corners */
    line-height: 1.6;
    text-align: justify; /* Justify text for a cleaner appearance */
    max-width: 800px; /* Limit the maximum width of the container */
     margin: 0 auto;
     font-size: 18px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #200b7c;
    background-image: url('../../assets/BG_for_LOGIN.jpg'); 
     
 
  }
  .center-text {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: color-mix(in srgb-linear, color percentage, color percentage);
}
 
/*css for the numbers at the home page*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .container1 {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #4396c3;
  }
  i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container1 {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container1 {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container1 {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }