.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:white;
    background: rgba(239, 241, 239, 0.3);
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqvhjvqJYaqPxAL8eyw1blT26XRIf5T_6S9A&usqp=CAU');
    background-size: cover; 
    filter: blur(5px); 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  .nav-link
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    margin-left: 20px;
    color: #a0a0a0;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.2s;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -10px; */
  width: 0%;
  height: 2px;
  background-color: rgb(211, 238, 156);
  transition: 0.5s linear;
}
a:hover {
  color: #fff;
}
a:hover:after {
  width: 100%;
}
.container-fluid
{
    background-color: #031728;
    width:100%;
    height: 70px;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px 30px;
   
 
}
img{
    width: 100px;
    height:53px;
    margin-bottom: 10px;

}

  