img{
    width:100%;
    height:400px;
    object-fit: contain;
}


.product-detail{
  margin-top:40px;
  margin-bottom: 80px;
}

.additional-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; 
}

.additional-images img {
    width: 50%;
    height: auto;
}

.image-with-text:first-child img {
    width: 130px; /* Adjust the size as needed */
}


.section-p1{
    padding:40px 80px;
}

#prodetails{
    display:flex;
    margin-top:20px;
}
#prodetails .single-pro-image{
    width:40%;
    margin-right:50px;
}
.small-img-group{
    display:flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width:50%;
    padding-top: 30px;

}

#prodetails .single-pro-details h4{
    font-size:40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display:block;
    padding:5px 10px;
    margin-bottom:10px;
}
#prodetails .single-pro-details input{
    width:50px;
    height:47px;
    padding-left:10px;
    font-size:16px;
    margin-right: 10px;;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color:#fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}

.size-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .size-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 5px;
    cursor: pointer;
  }
  
  .size-option.active {
    background-color: #ff6b6b;
  }