<!--<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:white";>E-Commerce PLatform</a>
    </div>
</nav>


<div class="container">
    <div class="row product-detail">
        <div class="col-sm-3">
            <img class="product-img" src="https://m.media-amazon.com/images/I/61xNG4wjOuL._SL1400_.jpg">
        </div>
    </div>
</div>-->

<app-buyernavbar></app-buyernavbar>
<section id="prodetails" class="section-p1"  >
    

        <div class="single-pro-image"  >
            <img src="{{product.thumbnail}}" width="100%" id="MainImg" alt="">
     
            <div class="small-img-group"  >
                <div class="small-img-col"  *ngFor="let image of product.productImages" >
                    <img [src]="image.url"width="100%" alt="">
                </div>
               
               
        </div></div>

    <div class="single-pro-details">
        <h2>{{product.name}}</h2>
        <h6>{{ product.category }}</h6>
        <h2>₹{{product.price}}</h2>
        <div *ngIf="product.category !== 'Saree'">
            <!-- <label for="size">Select Size:</label> -->
        <!-- <select id="size">
            
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>XL</option>
            <option>XXl</option>
        </select> -->
        <!-- <div class="size-container">
            <div 
              class="size-option"
              [class.active]="selectedSize === 'S'"
              (click)="setSize('S')"
            >S</div>
            <div 
              class="size-option"
              [class.active]="selectedSize === 'M'"
              (click)="setSize('M')"
            >M</div>
            <div 
              class="size-option"
              [class.active]="selectedSize === 'L'"
              (click)="setSize('L')"
            >L</div>
            <div 
              class="size-option"
              [class.active]="selectedSize === 'XL'"
              (click)="setSize('XL')"
            >XL</div>
            <div 
              class="size-option"
              [class.active]="selectedSize === 'XXL'"
              (click)="setSize('XXL')"
            >XXL</div>
          </div> -->
        <br>
        </div>
        <!-- <input type="number" value="1"><br><br> -->
        <button class="btn btn-sm btn-warning mt-2" (click)="addToCart(product)">Add To Cart </button><br>
        <br>
        <br>
        <br>
        <br>
        <h4>Product Details</h4>
        <span>{{ product.description }}</span>
        <br>


        <br>

        <br>



       
      <div class="additional-images">
        <div class="image-with-text">
            <img src="assets\free delivery.png" alt="Free Delivery">
            <p>Free Delivery</p>
        </div>
        <div class="image-with-text">
            <img src="assets\top brand.png" alt="Top Brand">
            <p>Top Brand</p>
        </div>
        <div class="image-with-text">
            <img src="assets\trusted seller.png" alt="Trusted Seller">
            <p>Trusted Seller</p>
        </div>
    </div>
        

    </div>

   



</section>