<!-- confirm-page.component.html -->
<app-buyernavbar></app-buyernavbar>
<div class="container">
    <div *ngIf="lastPayment">
        <!-- <h2>Payments</h2>
        <p><strong>Payment ID:</strong> {{ lastPayment.paymentId }}</p>
        <p><strong>Name:</strong> {{ lastPayment.name }}</p>
        <p><strong>Email:</strong> {{ lastPayment.email }}</p>
        <p><strong>Address:</strong> {{ lastPayment.address }}</p>
        <p><strong>Phone No:</strong> {{ lastPayment.phoneNo }}</p>
        <p><strong>Total Cart Value:</strong> {{ lastPayment.totalCartValue }}</p>
        <hr> -->
    </div>
</div>




<div class="container">
    <div *ngIf="lastPayment">
       
    </div>
</div>

<div class="container">
    <div class="cart-details">
        <h2>Cart Details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Total Cart Value</th>
                    <th>Cart ID</th>
                    <th>Product Name</th>
                    <th>Thumbnail</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Product Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts; let i = index">
                    <td>{{ lastPayment.paymentId }}</td>
                    <td>{{ lastPayment.name }}</td>
                    <td>{{ lastPayment.email }}</td>
                    <td>{{ lastPayment.address }}</td>
                    <td>{{ lastPayment.phoneNo }}</td>
                    <td>{{ lastPayment.totalCartValue }}</td>
                    <td>{{ cart.cartId }}</td>
                    <td>{{ cart.name }}</td>
                    <td><img [src]="cart.thumbnail" alt="Product Thumbnail" class="product-thumbnail"></td>
                    <td>{{ cart.price }}</td>
                    <td>{{ cart.quantity }}</td>
                    <td>{{ cart.totalproductPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="cart-details">
        <button #confirmButton (click)="confirmAllOrders()" class="btn btn-primary">Confirm All Orders</button>
    </div>
</div>
    