/* Add your custom CSS for table styling if needed */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-left: -45px;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.product-thumbnail {
    max-width: 100px;
    height: auto;
}
