<section id="header">
    <div>
        <div class="circular-image">
            <img routerLink='/applephone'src="https://m.media-amazon.com/images/I/61f4dTush1L._SX679_.jpg" alt="Circular Image"> </div>
        <h2>Apple Iphone</h2>
    </div>
 <div>
        <div class="circular-image">
            <img routerLink='/samsung'src="https://m.media-amazon.com/images/I/71ZrPkGgcLL._SX679_.jpg" alt="Circular Image"></div>
        <h2>Samsung Mobile</h2>
        </div>
        <div>
        <div class="circular-image">
            <img routerLink='/boat' src="https://m.media-amazon.com/images/I/41HgS9fvphL._SX300_SY300_QL70_FMwebp_.jpg" alt="Circular Image"></div>
        <h2>Boat Airdopes</h2>
    </div>
<div>
<div class="circular-image">
            <img routerLink="/noise"src="https://m.media-amazon.com/images/I/41TH-YBD-xL._SX300_SY300_QL70_FMwebp_.jpg" alt="Circular Image"></div>
        <h2>Noise PlusBuds</h2>
    </div>
</section>



