<div class ="container">
    <h2 class="header-with-line"> About</h2>
    <div class="clearfix">
      <img src="assets\about.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
   
      <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp;
        Welcome to SHELBY, your one-stop destination for all your apparel and electronics needs. At SHELBY, we believe in providing our customers with the highest quality products, unparalleled customer service, and a seamless shopping experience.
   
      <p align="justify">
        Founded with a passion for style and innovation, SHELBY brings together the best of both worlds: fashion-forward apparel and cutting-edge electronics. Whether you're looking to upgrade your wardrobe with the latest trends or stay ahead with the newest gadgets, we've got you covered.
      </p>
   
      <p align="justify">
        Our apparel collection features a curated selection of clothing, shoes, and accessories for every occasion. From casual essentials to statement pieces, we offer a diverse range of styles to suit your individual taste and lifestyle. Whether you're dressing for work, play, or special events, our carefully chosen pieces ensure that you look and feel your best.
      </p>
   
      <p align="justify">
        In addition to our fashion offerings, SHELBY also boasts an extensive range of electronics to cater to your tech-savvy needs. From smartphones and laptops to smart home devices and audio accessories, we stock the latest gadgets from leading brands to enhance your digital lifestyle. Whether you're a gadget enthusiast or a casual user, you'll find everything you need to stay connected and entertained.
      </p>
   
      <p align="justify">
        At SHELBY, we prioritize customer satisfaction above all else. Our dedicated team is committed to providing exceptional service at every step of your shopping journey. From browsing our online store to receiving your order, we strive to exceed your expectations with prompt shipping, easy returns, and responsive support.
      </p>
   
      <p align="justify">
        Thank you for choosing SHELBY as your preferred destination for apparel and electronics. We look forward to serving you and helping you discover the perfect products to elevate your style and enhance your life.
        <br>
        <br><strong>Happy shopping!</strong>
        <br>
        <strong>Team SHELBY</strong>
      </p>
    </div>    
   
   
   
   
    <h4 class="header-with-line"> Available Products</h4>
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <p>THE PRODUCTS WHICH ARE AVAILABLE AT SHELBY, HAPPY SHOPPING!</p>
   
   
   
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-coin"></i> Men's Wear</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-bag-fill"></i> Bags</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="fa-solid fa-shirt"></i> Women wear</p>
        </div>
       
      </div>
   
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-laptop-fill"></i> Laptops</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-umbrella-fill"></i> Phones</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-camera-reels-fill"></i> Cameras</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-smartwatch"></i> Electronic Accessories</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <p><i class="bi bi-camera-fill"></i> Camera</p>
        </div>
       
      </div>
    </div>  
   
   
   
   
    <h2 class="header-with-line"> Terms & Conditions</h2>
      <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="terms">
          <p class="justify">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the SHELBY website (the "Service") operated by SHELBY ("us", "we", or "our").</p>
          <p class="justify">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service.</p>
          <p class="justify">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
          <p class="justify"><strong>Purchase: </strong> <br>you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.
            You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct, and complete.
            By submitting such information, you grant us the right to provide the information to third parties for purposes of facilitating the completion of Purchases.</p>
       
          <p class="justify"><strong>Availability, Errors, and Inaccuracies: </strong> <br> We are constantly updating our offerings of products and services on the Service. The products or services available on our Service may be mispriced, described inaccurately, or unavailable, and we may experience delays in updating information on the Service and in our advertising on other web sites.
            We cannot and do not guarantee the accuracy or completeness of any information, including prices, product images, specifications, availability, and services. We reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.
            <br>
            <strong>Intellectual Property: </strong>
            <br>
            The Service and its original content, features, and functionality are and will remain the exclusive property of SHELBY and its licensors. The Service is protected by copyright, trademark, and other laws of both the [country name] and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of SHELBY.
            <br>
            <Strong>Links To Other Web Sites: </Strong>
            <br>
            Our Service may contain links to third-party web sites or services that are not owned or controlled by SHELBY.
            SHELBY has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that SHELBY shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such web sites or services.
            We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
            <br>
            <strong>Governing Law:</strong>
            <br>
            These Terms shall be governed and construed in accordance with the laws of [country], without regard to its conflict of law provisions.
            Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
            <br>
   
            <strong>Changes: </strong>
            <br>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
            <br>
            <strong>Contact Us: </strong>
            <br>
            If you have any questions about these Terms, please contact us at [contact email].
       
          </div>
      </div>
    </div>
   
     
     