<app-buyernavbar></app-buyernavbar>
<section id="prodetails" class="section-p1"  >
    <div class="single-pro-image"  >
        <img src="{{product.thumbnail}}" width="100%" id="MainImg" alt="">
 
        <div class="small-img-group"  >
            <div class="small-img-col"  *ngFor="let image of product.productImages" >
                <img [src]="image.url"width="100%" alt="">
            </div>
           
           
    </div></div>

    <div class="single-pro-details">
        <h6>{{product.subcategory1}}:{{product.subcategory2}}</h6>
        <b><h4>{{product.name}}</h4></b>
        <h2>₹{{product.price}}</h2>
        
        <input type="number" value="1"><br><br>
       
        <button class="btn btn-sm btn-warning mt-2" (click)="addToCart(product)">Add To Cart </button>
        <br>
       
        <h4>Product Details</h4>
        <span>{{product.description}}</span><br>
        <br>
            <h6>Stock Avaibale: {{product.quantity}}</h6>
    </div>
</section>
