<div class="body">
    <div class="forgot-container">
        <h3>Please Enter your Email and Phone Number of your Account</h3><br>
        <form action=""  id="validationCheck" name="validationCheck" method="post">
       
               
               <input type="email" id="email"
                name="email"
                placeholder="Enter your email" required>

                    
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone Number" onchange="validatePhoneNumber()">
           
        <div id="phoneValidationMsg"></div>

        <input type="submit" value="Login">
              </form>
    </div>
</div>