<header>
   
    <nav class="navbar">
      <div class="navbar-left">
        <a routerLink="/mainpage"><img src="assets\logo.png" alt="Logo" /></a>
      </div>
      <div class="navbar-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
      </div>
      <div class="navbar-right">
        <a routerLink="/cart"><i class="bi bi-cart"></i></a>
        
        <a routerLink="/buyer-dash"><i class="bi bi-person"></i></a>
        
      </div>
    </nav>
  </header>


  <div class="background-image"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <div class="page-profile">
  <div class="profile-card">
   <div class="profile-infoLabel">Profile Details</div><hr>
   <div *ngIf="buyerDto">
    <p>Name: {{ buyerDto.name }}</p>
    <p>Email: {{ buyerDto.email }}</p>
    <p>Phone Number: {{ buyerDto.mobilenumber }}</p>
  </div><br>
      
      <div class="profile-editButton">
        <button type="button" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="onEdit()">Edit</button>
      </div>
      </div>  
      </div>
  

 