<app-nav-bar></app-nav-bar>
<div class="body">
    <div class="forgot-container">
        <h3>Please Enter your Email of your Account</h3><br>
        <form action=""  id="validationCheck" name="validationCheck" method="post">
       
               
               <input type="email" id="email"
                name="email"#emailInput
                placeholder="Enter your email" required>

      

        <input type="submit" (click)="forgotPassword(emailInput.value)" value="Login">
              </form>
    </div>

    <div *ngIf="responseMessage">
        <p>{{ responseMessage }}</p>
      </div>
</div>