<app-buyernavbar></app-buyernavbar>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for products..." [(ngModel)]="searchTerm" (input)="filterProducts()">
              </div>
              
                <!-- <div class="input-group-append">
                    <button class="btn btn-dark" (click)="filterProducts()" type="button">Search</button>
                </div> -->
            </div>
        </div>
    </div>


<section id="page-header">
    
    <h2>#LOVE AT FIRST SALE</h2>
</section>
<!--Header Section-->
<!-- <div class="container-fluid" style="background-color: aliceblue;">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3 styel="color:#white;font-size:23px">Popular ECommerce Products</h3>
            </div>
        </div>
    </div>
</div> -->




<section id="product1" class="section-p1">
    <h2>All  Products</h2>
  
    <div class="pro-container">
        <ng-container *ngIf="!searchTerm || searchTerm === ''; else filteredData">
            <div class="pro" *ngFor="let item of data">
                <div class="card-img-actions">
                    <img routerLink="/productdetail/{{item.productId}}" src="{{item.thumbnail}}" class="card-img img-fluid">
                </div> 
                <div class="des">
                    <span>{{item.name}}</span>
                    <h5>{{item.price}}</h5>
                    <button routerLink="/productdetail/{{item.productId}}" class="btn btn-sm btn-dark mt-2"><i class="fa fa-solid fa-info mr-2"></i>&nbsp;View Details</button><br>
                    <button class="button" (click)="addToCart(item)">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </ng-container>
      
        <ng-template #filteredData>
            <div class="pro" *ngFor="let item of filteredProducts">
                <div class="card-img-actions">
                    <img routerLink="/productdetail/{{item.productId}}" src="{{item.thumbnail}}" class="card-img img-fluid">
                </div> 
                <div class="des">
                    <span>{{item.name}}</span>
                    <h5>{{item.price}}</h5>
                    <button routerLink="/productdetail/{{item.productId}}" class="btn btn-sm btn-dark mt-2"><i class="fa fa-solid fa-info mr-2"></i>&nbsp;View Details</button><br>
                    <button class="button" (click)="addToCart(item)">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </ng-template>
        </div>
        
        </section>
